body {
  font-family: "aw-conqueror-carved-two", sans-serif;
  color: #333333; }

#container {
  margin-top: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  #container .grabber {
    color: #c41e3a; }
